.icon-arrows{
    width: 150px;
    height: 40px;
    margin-right: 2%;
    margin-top: 2%;
}
@media (min-width: 992px) {
    .rotate-lg-6 {
        transform: rotate(3deg);
    }
}

@media (max-width: 992px) {
    .rotate-lg-6 {
        visibility: hidden;
        display: none;
    }
}